.DS_Store
.idea
.Rproj.user
.Rhistory
.RData
.Ruserdata
# Log Files
*.log
# Figures 
*.png
# Ignore all files in io directory
**/input/*
**/output/*
**/featureCounts_0
# Except these files in those directory
!**/input/GSEA/
!**/input/GSEA/*.gmt
!**/input/*.example
!**/output/*.example
